<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.keepinshape" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.exercicio.ExercicioRegister"
            android:label="@string/title_activity_exercicio_register" >
        </activity>
        <activity
            android:name=".activity.exercicio.ExercicioList"
            android:label="@string/title_activity_exercicio_list" >
        </activity>
        <activity
            android:name=".activity.treino.TreinoRegister"
            android:label="@string/title_activity_treino_register" >
        </activity>
        <activity
            android:name=".activity.treino.TreinoList"
            android:label="@string/title_activity_treino_list" >
        </activity>
        <activity
            android:name=".activity.pessoa.PessoaRegister"
            android:label="@string/title_activity_pessoa_register" >
        </activity>
        <activity
            android:name=".activity.pessoa.PessoaList"
            android:label="@string/title_activity_pessoa_list" >
        </activity>
        <activity
            android:name=".activity.dieta.DietaRegister"
            android:label="@string/title_activity_dieta_register" >
        </activity>
        <activity
            android:name=".activity.dieta.DietaList"
            android:label="@string/title_activity_dieta_list" >
        </activity>
        <activity
            android:name=".activity.alimento.AlimentoRegister"
            android:label="@string/title_activity_alimento_register" >
        </activity>
        <activity
            android:name=".activity.alimento.AlimentoList"
            android:label="@string/title_activity_alimento_list" >
        </activity>
        <activity
            android:name=".activity.agenda.AgendaRegister"
            android:label="@string/title_activity_agenda_register" >
        </activity>
        <activity
            android:name=".activity.agenda.AgendaList"
            android:label="@string/title_activity_agenda_list" >
        </activity>
        <activity
            android:name=".activity.treino.TreinoListSpecification"
            android:label="@string/title_activity_treino_list_specification" >
        </activity>
        <activity
            android:name=".activity.treino.TreinoSpecification"
            android:label="@string/title_activity_treino_specification" >
        </activity>
        <activity
            android:name=".activity.exercicio.ExercicioSpecification"
            android:label="@string/title_activity_exercicio_specification" >
        </activity>
        <activity
            android:name=".activity.avaliacaoFisica.AvaliacaoFisicaGraph"
            android:label="@string/title_activity_avaliacao_fisica" >
        </activity>
        <activity
            android:name=".activity.avaliacaoFisica.AvaliacaoFisicaRegister"
            android:label="@string/title_activity_avaliacao_fisica_register" >
        </activity>
        <activity
            android:name=".activity.avaliacaoFisica.AvaliacaoFisicaList"
            android:label="@string/title_activity_avaliacao_fisica_list" >
        </activity>
    </application>

</manifest>
